.checkout-container {
  width: 350px;
  margin: 40px auto;
  padding: 20px;
  background: #fff5f5;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.checkout-container textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid black;
}

.payment-box {
  text-align: left;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.payment-box label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.checkout-container button {
  width: 100%;
  padding: 12px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkout-container button:hover {
  background: #e60000;
}