.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff4d4d, #ff9999);
}

.auth-box {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

/* INPUT */
.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  padding: 12px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.auth-box button:hover {
  background: black;
}

/* LINK */
.auth-box a {
  color: #ff4d4d;
  font-weight: bold;
} 